@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

img{
    width: 30%;
    height: 80px;
    box-shadow: 0px 10px 20px black;
    border-radius: 2%;
    margin-bottom: 40px;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(270deg, rgba(38,66,77,1) 0%, rgba(115,174,196,1) 50%, rgba(38,66,77,1) 100%);
    background-position: center;
    background-size: 100%;
    overflow: hidden;
}

button{

    color: #fff;
    padding: 10px 25px;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
}


.box{
    background: transparent;
    background-color: white;
    width: 440px;
    padding: 30px 40px;
    box-shadow: 0 0 6em rgb(0, 0, 0);
    border-radius: 2%;
}

#pet, #nome{
    width: 228px;
    height: 38px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    box-shadow: 5px 5px 10px black;
    border: none;
    margin-left: 60px;
}

.tutor span{
    background-color: white;
    left: 65px;
    position: absolute;
    top: -12px;
    width: 60px;
}
    

.tutor{
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
}

.pet span{
    background-color: white;
    left: 65px;
    position: absolute;
    top: -12px;
    width: 40px;
}
    

.pet{
    margin-top: 30px;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
}

h1{
    margin-bottom: 10px;
}

h2{
    margin-top: 15px;
    margin-bottom: -10px;
}

#nome{
    padding: 15px;
}

#pet{
    padding: 15px;
}

/* Hide the default checkbox */
.container input {
    display: none;
}
  
.container {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-left: 100px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
  
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    transition: all 0.25s;
    --spread: 50px;
}
  
.container input:checked ~ .checkmark {
    background-color: #000000;
    box-shadow: -10px -10px var(--spread) 0px rgb(17, 0, 248),
      0 -10px var(--spread) 0px rgb(243, 11, 243),
      10px -10px var(--spread) 0px rgb(253, 228, 0),
      10px 0 var(--spread) 0px rgb(107, 255, 21),
      10px 10px var(--spread) 0px rgb(76, 0, 255),
      0 10px var(--spread) 0px rgb(255, 196, 0),
      -10px 10px var(--spread) 0px rgb(90, 105, 240);
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 0.1em solid rgba(0, 0, 0, 0.863);
    left: 0;
    top: 0;
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}
  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: rgba(238, 238, 238, 0) white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

p{
    margin-top: 20px;

}